<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Property Management System</h1>
  </div>
</div>

<div class="container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, rerum nulla?
  Ipsum eligendi inventore soluta iste perspiciatis itaque corporis in similique
  delectus repellendus totam laboriosam atque sapiente, odio illo ut mollitia
  recusandae. Facere aut numquam quo corporis ut perferendis, cum, atque, ex
  temporibus iure laborum deleniti blanditiis voluptate optio illo sapiente!
  Veniam nihil ab rem dolor illo! Nobis eligendi ea, provident dignissimos sint
  expedita praesentium dolorem quos mollitia illo necessitatibus, minima
  asperiores, nam facilis perspiciatis corrupti! Voluptatem ratione repudiandae
  veniam iste quam tempore temporibus, itaque atque nostrum sapiente minus modi
  ea animi placeat at, soluta sint debitis illo ipsam. Vero, dolorem! Porro ad
  tenetur fuga debitis rem praesentium explicabo non atque tempora corporis
  nisi, sit nesciunt? Cum excepturi saepe voluptatum, nam neque repudiandae,
  aspernatur ut impedit similique exercitationem fuga nemo blanditiis reiciendis
  expedita odit illum, inventore sequi eaque quos esse? Delectus vitae
  perferendis dicta doloribus exercitationem molestias soluta perspiciatis nulla
  dignissimos corrupti tempore, dolorum nesciunt. Voluptas alias nulla,
  exercitationem debitis libero at ea voluptatum maxime doloremque voluptatibus
  perferendis excepturi ex iure officia inventore velit veniam aliquid corporis
  molestias optio cupiditate. Hic maxime explicabo labore vitae, dolore eum
  aspernatur pariatur, quas accusamus vel, perferendis quos. Magnam perspiciatis
  magni commodi doloremque labore.
</div>
