<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>My Favourite Properties</h1>
  </div>
</div>
<div class="container">
  <div class="card mb-3" *ngFor="let property of properties">
    <div class="card-body">
      <h4>{{ property.name | titlecase }}</h4>
      <p class="text-secondary">
        Property Id: {{ property._id }}
        <span class="float-right" style="cursor: pointer;"
          ><i
            class="material-icons text-warning"
            *ngIf="isFavProperty(property._id)"
            (click)="toggleFavProperty(property._id)"
            >star</i
          ><i
            class="material-icons"
            *ngIf="!isFavProperty(property._id)"
            (click)="toggleFavProperty(property._id)"
            >star_border</i
          ></span
        >
      </p>
      <hr />
      <p><strong>Description</strong>: {{ property.description }}</p>
      <div class="row my-3">
        <div class="col border"><strong>Area</strong>: {{ property.area }}</div>
        <div class="col border">
          <strong>Property Type</strong> : {{ property.type }}
        </div>
      </div>

      <div class="row my-3">
        <div class="col"><strong>Owner</strong>: {{ property.owner }}</div>
      </div>

      <div>
        <strong>Photos</strong>:
        <div class="row">
          <div class="col" *ngFor="let photo of property.photos; let i = index">
            <div class="mx-auto text-center">
              <img
                class="img-fluid img-thumbnail"
                [src]="photo"
                width="300"
                [alt]="i"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
